* {
	margin: 0;
	padding: 0;
	outline: none;
}

.music-wrap {
	display: flex;
}

.music-name{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    line-height: 32px;
    padding-right: 15px;
    text-overflow: ellipsis;
}

.music-media audio {
	height: 32px;
    width: 290px;
	overflow: hidden;
}

.music-down {
    padding-left: 15px;
}

.music-down svg {
	width: 30px;
	height: 30px;
}
