* {
	margin: 0;
	padding: 0;
	outline: none;
}
.wrap{
    overflow: hidden;
    columns: 3;
    width: 1000px;
    margin: 50px auto 0;
    padding-bottom: 50px;
}
.category-wrap{
    display: inline-block;
    margin-bottom: 24px;
}

.category-wrap h4{
    font-size: 16px;
    margin-bottom: 15px;
    border-left: 5px solid #41a1f1;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;

}

.music-wrap {
	display: flex;
    overflow: hidden;
    margin-bottom: 5px;
}

.music-name{
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    line-height: 28px;
    padding-right: 15px;
    font-size: 14px;
    text-overflow: ellipsis;
}


.music-media audio {
	height: 22px;
    width: 290px;
	overflow: hidden;
    font-size: 10px;
}

.music-down {
    padding-left: 15px;
}

.music-down svg {
	width: 24px;
	height: 24px;
}

.progress_obj{
    overflow: hidden;
    width: 140px;
}
.right-wrap{
    width: 110px;
    padding: 0 5px;
    float: right;
    overflow: hidden;
    padding-bottom: 5px;
}

.progress_obj p{
    font-size: 12px;
    margin-bottom: 4px;
}
.btn{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
.btn svg{
    width: 16px;
    height: 16px;
}

.progress_obj p.left{
    
    float: left;
}

.progress_obj p.right{
    float: right;
}
.progress_bar{
    clear: both;
    position: relative;
    border-radius: 4px;
    height: 2px;
    width: 110px;
    background: #ddd;
    margin-right: 8px;
    cursor: pointer;
}

.progress_cube{
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0;
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(6, 141, 252);
}
.tips{
    position: fixed;
    top: 10px;
    right: 10px;
}
.tips svg{
    width: 20px;
    height: 20px;
}
.title-list{
    position: fixed;
    z-index: 80;
    top: 34px;
    right: 0;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    max-width: 300px;
    font-size: 0;
}
.title-list p{
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}
.title-list p a{
    text-decoration: none;
    color: #333;
}
